
<p>
  <strong>Fud:</strong>
  <%= @fud_entry.fud %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @fud_entry.anonymous %>
</p>

<%= link_to 'Edit', edit_fud_entry_path(@fud_entry) %> |
<%= link_to 'Back', fud_entries_path %>
