
	<div class="container">
	<h1>FUD. <small>Fear, Uncertainty and Doubt</small></h1>
	<blockquote>A forum to share existential threats to the company.</blockquote>
	<% if !user_signed_in? %>
		<p>	<%=link_to 'Sign up here.', new_user_registration_path, :class => "btn btn-success" %> </p>
	<% else %>
		<%=link_to 'View FUD', fud_entries_path, class: "btn btn-primary" %> <%=link_to 'Post FUD', new_fud_entry_path, class: "btn btn-success" %></p>
	<% end %>
	</div>