
	<div class="container">
	<h1>FUD. <small>Speak your mind without judgement.</small></h1>
	<blockquote>Give a man a mask and he'll tell you the truth.<small>Oscar Wilde</small></blockquote>
	<% if !user_signed_in? %>
		<p>	<%=link_to 'Sign up here.', new_user_registration_path, :class => "btn btn-success" %> </p>
	<% else %>
		<%=link_to 'View FUD', fud_entries_path, class: "btn btn-primary" %> <%=link_to 'Post FUD', new_fud_entry_path, class: "btn btn-success" %></p>
	<% end %>
	</div>