
	<h1-serif>FUD. <small>Speak your mind. Ask without judgement.</small></h1>
	<blockquote>Beware: open-mindedness will often say, 'Everything is permissible except a sharp opinion.'<small>Criss Jami, Killosophy</small></blockquote>
	<% if !user_signed_in? %>
		<p>	<%=link_to 'Sign up here.', new_user_registration_path %> </p>
	<% else %>
		<%=link_to 'View all FUD', fud_entries_path, class: "button primary-action" %> <%=link_to 'Submit FUD', new_fud_entry_path, class: "button primary-action" %></p>
	<% end %>